{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": ["build", "src/static/*", "src/snippets/*", "src/scaffolds/*", "ts-to-es6", "outputs"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-useless-escape": "off"
  }
}
