name: Submit Downstream PRs

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  TERM: xterm-256color

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - name: '[Setup] Checkout Repository'
        uses: actions/checkout@v6

      - name: '[Setup] Node'
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: '[Setup] Bootstrap Dependencies'
        run: npm ci

      - name: '[Setup] Git'
        run: |
          git config --global user.email "noreply@onesignal.com"
          git config --global user.name "OneSignal"

      - name: 'Get current web-shim-codegen version'
        run: |
          echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: '[Setup] Build'
        run: npm run build

      - name: '[onesignal-ngx] Checkout'
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_PUSH_TOKEN }}
          repository: OneSignal/onesignal-ngx
          fetch-depth: 0
          path: __clone/onesignal-ngx

      - name: '[onesignal-ngx] Patch'
        run: |
          bash scripts/patch-repo.sh dist/onesignal-ngx.tgz __clone/onesignal-ngx onesignal-ngx
        env:
          PACKAGE_VERSION: ${{ env.PACKAGE_VERSION }}

      - name: '[onesignal-ngx] Push'
        uses: ad-m/github-push-action@v0.6.0
        with:
          repository: OneSignal/onesignal-ngx
          directory: __clone/onesignal-ngx
          force: true
          branch: cd_update
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[onesignal-ngx] Submit PR'
        uses: ./.github/actions/create-pr
        with:
          owner: 'OneSignal'
          repo: 'onesignal-ngx'
          package_version: ${{ env.PACKAGE_VERSION }}
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[react-onesignal] Checkout'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PUSH_TOKEN }}
          repository: OneSignal/react-onesignal
          fetch-depth: 0
          submodules: true
          path: __clone/react

      - name: '[react-onesignal] Patch'
        run: |
          bash scripts/patch-repo.sh dist/react.tgz __clone/react react-onesignal
        env:
          PACKAGE_VERSION: ${{ env.PACKAGE_VERSION }}

      - name: '[react-onesignal] Push'
        uses: ad-m/github-push-action@v0.6.0
        with:
          repository: OneSignal/react-onesignal
          directory: __clone/react
          force: true
          branch: cd_update
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[react-onesignal] Submit PR'
        uses: ./.github/actions/create-pr
        with:
          owner: 'OneSignal'
          repo: 'react-onesignal'
          package_version: ${{ env.PACKAGE_VERSION }}
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[onesignal-vue] Checkout'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PUSH_TOKEN }}
          repository: OneSignal/onesignal-vue
          fetch-depth: 0
          path: __clone/vue/v2

      - name: '[onesignal-vue] Patch'
        run: |
          bash scripts/patch-repo.sh dist/vue/v2.tgz __clone/vue/v2 onesignal-vue
        env:
          PACKAGE_VERSION: ${{ env.PACKAGE_VERSION }}

      - name: '[onesignal-vue] Push'
        uses: ad-m/github-push-action@v0.6.0
        with:
          repository: OneSignal/onesignal-vue
          directory: __clone/vue/v2
          force: true
          branch: cd_update
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[onesignal-vue] Submit PR'
        uses: ./.github/actions/create-pr
        with:
          owner: 'OneSignal'
          repo: 'onesignal-vue'
          package_version: ${{ env.PACKAGE_VERSION }}
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[onesignal-vue3] Checkout'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PUSH_TOKEN }}
          repository: OneSignal/onesignal-vue3
          fetch-depth: 0
          path: __clone/vue/v3

      - name: '[onesignal-vue3] Patch'
        run: |
          bash scripts/patch-repo.sh dist/vue/v3.tgz __clone/vue/v3 onesignal-vue3
        env:
          PACKAGE_VERSION: ${{ env.PACKAGE_VERSION }}

      - name: '[onesignal-vue3] Push'
        uses: ad-m/github-push-action@v0.6.0
        with:
          repository: OneSignal/onesignal-vue3
          directory: __clone/vue/v3
          force: true
          branch: cd_update
          github_token: ${{ secrets.GH_PUSH_TOKEN }}

      - name: '[onesignal-vue3] Submit PR'
        uses: ./.github/actions/create-pr
        with:
          owner: 'OneSignal'
          repo: 'onesignal-vue3'
          package_version: ${{ env.PACKAGE_VERSION }}
          github_token: ${{ secrets.GH_PUSH_TOKEN }}
